#portfolio {
    background-color: black;
    font-size: 10vh;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction:column;
}
#main-container{
    justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
}
.portfolio-text{
    font-weight: 100;
    font-size: calc(4vw + 8px);
    color: white;
}

#portrow{
    margin-top: 2vh;
}
#portrow2{
    margin-top: 5vh;
}